

@{
                /**/

                /**/

                ViewBag.Title = "TestAutocomp";
                Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@

@*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>*@
<link rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" />
<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.22/jquery-ui.js"></script>
@*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@

<h2>TestAutocomp</h2>

<div>

    <label>Search</label>
    <input class="form-control" style="width:40%" id="searchemp" />
    <input id="searchid" class="hidden" />
    <input type="button" value="Add" class="add-list" />
    @*<select id="lstValue">


        </select>*@
    <ul id="lstValue"></ul>
    @*@Html.ListBox("lstValue")*@
    @*@Html.ListBoxFor(m => m.empid, new { @class = "listboxemp", style = "width:30%" })*@

</div>

<script type="text/javascript">
    $(function () {
        $("#searchemp").autocomplete({
            source: function (request, response) {
                var param = { name: $('#searchemp').val() };
                $.ajax({
                    url: "/AssignResource/getEmployee",
                    data: JSON.stringify(param),
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, id: item.Id }
                        }))
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            },
            select: function (event, ui) {
                // prevent autocomplete from updating the textbox
                event.preventDefault();
                $(this).val(ui.item.label);
                $("#searchid").val(ui.item.id);
            },
             minLength: 2    //minLength as 2, it means when ever user enter 2 character in TextBox the AutoComplete method will fire and get its source data.
        });
    });
</script>
<script>
    $(".add-list").click(
        function () {
           // debugger;
           // var label = $("#searchemp");
           // var empid = label.attr('value');
           // var empidname = label.attr('label');
           // alert(empid);
            // alert(empidname);
            var empname = $("#searchemp").val();

            // var empid = $("#searchemp").value();
          //  var empid = $("#searchemp").;
           // alert(empid);
            alert(empname);
            //alert($("#searchemp").val().id);
            //$("#searchid").val(item.id);
            alert($("#searchid").val());
            alert($("#searchid").id());

            //alert(empname);
            $('#lstValue').append('<li>' + empname + '</li>');
                //append('<option value="' + empname + '">' + empname + '</option>');
                //append(empname);
                //('<option value="' + empname + '">' + empname + '</option>');
        }

    );

    @*$("#searchemp").autocomplete({

        source: function (request, response) {
            //var param = { name: $('#searchid').val() };
            //debugger;
            $.ajax(
                {
                    url: "/AssignResource/getEmployee",
                    @*url:@Url.Action("getEmployee", "AssignResource"),*@
                    @*@*dataType: "json",
                    data: { name: $("#searchemp").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            //$("#searchid").val(item.id);
                            //alert($("#searchid").val(item.id));

                            return {
                                label: item.Name,
                                id: item.Id

                            };


                        }));
                    },
                    select: function(event, ui) {
                        //alert($("#searchemp").val(ui.item.Name));
                        //alert(ui.item.Id);// display the selected text
                        ////$("#field_id").val(ui.item.value); // save selected id to hidden input
                        //return ui.item.Name;
                        event.preventDefault();
                        $(this).val(ui.item.label);
                        $('#searchid').val(ui.item.id);
                    },
                    error: function (xhr, status, error) {
                        alert("Error");
                    }

                });
        }
    }


    );*@

</script>
