@model IEnumerable<RetentionTool.Models.AssignResourceViewModel>
@{
    ViewBag.Title = "Index Assign Resource Det";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="card">
    <div class="card-header">
        <h2>Index Assign Resource Det</h2>

    </div>
    <div class="container" style="width:100%;margin-top:2%">
        <table class="table table-striped">
         <tr>
             <th>Module Name</th>
             <th>Employee Name</th>
             <th>Actions</th>

         </tr>   
            @foreach( var item in Model)
            {
         <tr>
             <td>@item.modulename</td>
             <td>@item.employeename</td>
             <td>
                 @Html.ActionLink("Edit","Edit",new { id=item.Id})

             </td>
         </tr>
            }


        </table>

    </div>

</div>


