

@model IEnumerable<RetentionTool.Models.EmployeeList>


@*<h2>Empdetails</h2>*@

<div>

    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">EmployeeList</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        
        @foreach (var item in Model)
        {
            <dd>
                @item.Name
            </dd>
            
        }
    </dl>
  
</div>
